
a:hover
{
  text-decoration: none !important;
  opacity: 0.8;
}
a:visited
{
  text-decoration: none !important;
  color: #337ab7;
}
a:link
{
	text-decoration: none !important;
}
a:active
{
	text-decoration: none !important;
	color: red !important;
}
.logofont
{
  font-family: 'Shojumaru', cursive;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.nav-bg
{
	background-color:#204060 !important;
	border-radius:0px 0px 15px 15px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.logo-reposition
{
  margin-left: 40px;
}
.btn-pull-left
{
  margin-right: 10px;
}

.animatebtn {
  padding: 5px 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #lightblue;
  border: none;
  border-radius: 10px !important;
  /*box-shadow: 0 3px #999;*/
}

.animatebtn:hover {background-color: }

.animatebtn:active {
  background-color: lightgreen;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*Row fluid responsive starts
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.564102564%;
    *margin-left: 2.510911074638298%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.45299145300001%;
    *width: 91.3997999636383%;
  }
  .row-fluid .span10 {
    width: 82.905982906%;
    *width: 82.8527914166383%;
  }
  .row-fluid .span9 {
    width: 74.358974359%;
    *width: 74.30578286963829%;
  }
  .row-fluid .span8 {
    width: 65.81196581200001%;
    *width: 65.7587743226383%;
  }
  .row-fluid .span7 {
    width: 57.264957265%;
    *width: 57.2117657756383%;
  }
  .row-fluid .span6 {
    width: 48.717948718%;
    *width: 48.6647572286383%;
  }
  .row-fluid .span5 {
    width: 40.170940171000005%;
    *width: 40.117748681638304%;
  }
  .row-fluid .span4 {
    width: 31.623931624%;
    *width: 31.5707401346383%;
  }
  .row-fluid .span3 {
    width: 23.076923077%;
    *width: 23.0237315876383%;
  }
  .row-fluid .span2 {
    width: 14.529914530000001%;
    *width: 14.4767230406383%;
  }
  .row-fluid .span1 {
    width: 5.982905983%;
    *width: 5.929714493638298%;
  }Row fluid resonsive ends*/
.brand 
{
  float: left;
  display: block;
  padding: 10px 0px 10px;
  margin-left: 15px;
  font-size: 25px;
  font-weight: 200;
  line-height: 1;
  color: #f5f5f5;
  font-family: 'Shojumaru', cursive;
  color: white;
}

.glycustom
{
  color: #000000;
  padding: 4px;

}

 body
 {
     margin: 0px !important;
     font-family: 'Varela Round', sans-serif;
 }

/*.navbar .pull-right .dropdown-menu:after,
.navbar .dropdown-menu.pull-right:after 
{
  left: auto;
  right: 13px;
}*/

li.bgcolor:hover
{
  background-color: #80dfff;
}

.sign_in
{
  background-color:lightgreen;
  padding:0px;
  margin-bottom:20px;
}
.gap
{
  margin: 10px !important;
}

.gap_down
{
  margin-bottom: 10px !important; 
}
.gap_left
{
  margin-left: 5px !important;
}
.margin_btm
{
  margin-bottom: 20px !important;

}
.sky_gradient
{
  background:linear-gradient(to bottom,#e5ffff,#33ccff);
  border-radius:5px;
}
.well_margin
{
  margin: 15px;
  background:linear-gradient(to top,white,#cceeff);
  border-radius:5px;"

}

.h3-formatting
{
 margin-left:15px;
 margin-top:2px;
}

a.logo:hover
{
  color: #99ff99 !important;
}
.img_right
{
  float: right !important;
}
a.logo:visited
{
   color: white !important;
}
.panel-padding
{
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.pad-left
{
  padding-left: 5px !important;
}

